<%layout("/layout/boilerplate") %>

    <h3>Edit the new listing</h3>
    <div class="row">
        <div class="col-8 offset-2">
    <form  method="post" action="/listings/<%= listing._id %>? method=PUT">
        <div class="mb-3">
     <label for="title" class="form-label" >Title:</label>
        <input  class="form-control" type="text" name="Title" value=" <%= listing.title %>" placeholder="Enter the title">
       </div>

       <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea   class="form-control" name="listing[Description]" type="text" value=" <%= listing.Description %>"  placeholder="Enter the description"></textarea>
        </div>

        <div class="mb-3">
        <label for="image">Image:</label>
        <input   class="form-control" type="text" value=" <%= listing.image %>" name="listing[image]" placeholder="select the Image"><br>
        </div>

        <div class="mb-3">
        <label for="price"  class="form-label">Price:</label>
        <input   class="form-control" type="number" name="listing[Price]" value=" <%= listing.Price %>" placeholder="Enter the price">
           </div>

        <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input  class="form-control" type="text" name="listing[Location]" value=" <%= listing.Location %>" placeholder="Enter the location"><br>
       </div>

        <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input  class="form-control" type="text" name="listing[Country]"  value=" <%= listing.Country %>" placeholder="Select the country">
        </div>

        <div class="mb-3">
        <input  class="form-control" type="submit" value="Submit">
        </div>
        <button class="btn btn-dark">Edit</button>
    </form>
</div>
</div>